{% extends "main.html" %}

{% block page_title %}
    MyProjects
{% endblock page_title %}

{% block li_page_title %}
    MyProjects
{% endblock li_page_title %}

{% block li1 %}
    <li><a  class="page-scroll" href="/">Homepage </a></li>
{% endblock li1 %}

{% block li2 %}
    <li><a class="page-scroll" href="blog">Blog</a></li>
{% endblock li2 %}

{% block li3 %}
    <li><a class="page-scroll" href="contact">Contact</a></li>
{% endblock li3 %}

{% block li4 %}
    <li class="active"><a class="page-scroll" href="#">MyProjects</a></li>
{% endblock li4 %}

{% block homepage_text %}

    <div class="well">
        <div class="row">

            <h1>Hello, MyProjects!</h1>

            <p>
                <a href="https://sacred-drive-135217.appspot.com/templates/index2.html">Fakebook</a>
            </p>

            <p>
                <a href="https://infra-edge-135423.appspot.com/templates/fakegoogle.html">Fakegoogle</a>
            </p>

            <p>

                <a href="https://frizerstvo-mirko-1354.appspot.com/templates/index.html">Hairdresser</a>
            </p>

            <p>

                <a href="https://calculator-1362.appspot.com/">Loto numbers</a>
            </p>

            <p>
                <a href="https://calculator-1362.appspot.com/">Guess a number</a>
            </p>

            <p>
                <a href="https://calculator-1362.appspot.com/">Calculator</a>
            </p>

            <p>
                <a href="https://unit-converter-1362.appspot.com/">Unit converter</a>
            </p>

        </div>
    </div>

{% endblock homepage_text %}